body,
html {
  z-index: 0;
  height: 135%;
  background-color: black;
  font-family: "Source Code Pro", monospace;
}
.container {
  z-index: 100;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(21, 1fr);
  color: white;
  text-align: center;
  margin: 0;
  opacity: 0.3;
}
.grid {
  border: 1px dotted rgba(255, 255, 255, 0.8);
}

.title {
  font-size: 5vw;
  font-weight: bolder;
}
.content {
  padding-top: 10%;
  font-size: 3vw;
  font-weight: 100;
}

#one {
  z-index: 1000;
  background-color: rgb(190, 190, 190);
  width: 65vw;
  height: 28.5vh;
  position: absolute;
  top: 9%;
  left: 17.5%;
  text-align: left;
}
.text {
  color: black;
  font-size: 3.8vw;
  padding: 5%;
}
#dreaming {
  z-index: 1000;
  color: rgb(126, 96, 13);
  position: absolute;
  top: 33.5%;
  left: 2%;
  font-size: 18vw;
  font-weight: 800;
}
#two {
  z-index: 1000;
  background-color: rgb(190, 190, 190);
  width: 65vw;
  height: 37.5vh;
  position: absolute;
  top: 61%;
  left: 17.5%;
  text-align: left;
}
#change {
  z-index: 1000;
  color: rgb(100, 13, 126);
  position: absolute;
  top: 95.5%;
  left: 2%;
  font-size: 18vw;
  font-weight: 800;
}
#three {
  z-index: 1000;
  background-color: rgb(190, 190, 190);
  width: 65vw;
  height: 33vh;
  position: absolute;
  top: 122%;
  left: 17.5%;
  text-align: left;
}
#now {
  z-index: 1000;
  color: rgb(11, 53, 116);
  position: absolute;
  top: 152%;
  left: 2%;
  font-size: 18vw;
  font-weight: 800;
}
